// JourneyMap server configuration file. Modify at your own risk!
// To restore the default settings, simply delete this file before starting Minecraft server
// For more information, go to: http://journeymap.info/JourneyMapServer
//
// Dimension ResourceKey[minecraft:dimension / minecraft:overworld] Configuration : Overrides the Global Server Configuration for this dimension - sent enable true to override global settings for this dim 
{
  "enabled": "false",
  "dimension": {
    "field_25137": {
      "field_13353": "minecraft",
      "field_13355": "dimension"
    },
    "field_25138": {
      "field_13353": "minecraft",
      "field_13355": "overworld"
    }
  },
  "teleportEnabled": "false",
  "renderRange": "0",
  "surfaceMapping": "ALL",
  "topoMapping": "ALL",
  "biomeMapping": "ALL",
  "caveMapping": "ALL",
  "radarEnabled": "ALL",
  "playerRadarEnabled": "true",
  "villagerRadarEnabled": "true",
  "animalRadarEnabled": "true",
  "mobRadarEnabled": "true",
  "configVersion": "5.9.4"
}